In [ ]:
Q1

In [3]:
import numpy as np
arr = np.arange(0,9)
print(arr)

arr1 = np.array(range(0,9))
print(arr1)

[0 1 2 3 4 5 6 7 8]
[0 1 2 3 4 5 6 7 8]

In [ ]:
Q2

In [6]:
import numpy as np
arr = np.ones(shape=(3,3), dtype=np.bool)
print(arr)

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

In [ ]:
Q3

In [12]:
import numpy as np
arr = np.arange(0,9)
print(arr)
arr_ODD = [x for x in arr if (x%2 != 0)]
arr_ODD

[0 1 2 3 4 5 6 7 8]

[1, 3, 5, 7]

In [ ]:
Q4

In [13]:
arr[arr_ODD] = -2
arr

array([ 0, -2,  2, -2,  4, -2,  6, -2,  8])

In [ ]:
Q5

In [15]:
arr.reshape(3,3)

array([[ 0, -2,  2],
       [-2,  4, -2],
       [ 6, -2,  8]])

In [ ]:
Q6

In [21]:
import numpy as np
arr = np.array(range(0,8), ndmin=2)
arr.reshape(2,4)

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [23]:
import numpy as np
arr = np.array(range(0,8), ndmin=2)
arr.reshape(2,4)

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [ ]:
Q7

In [27]:
a = [1,2,3,4,5,6,7,8,9]
b = [(x,x*4) for x in a if (x%2 != 0)]
b

[(1, 4), (3, 12), (5, 20), (7, 28), (9, 36)]

In [ ]:
Q8

In [8]:
import pandas as pd
import numpy as np
a = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(a)
print("Pandas : ", np.isnan(a))
print("Numpy : " , pd.isna(a))

[[ 1. nan  3.]
 [ 4.  5. nan]]
Pandas :  [[False  True False]
 [False False  True]]
Numpy :  [[False  True False]
 [False False  True]]

In [ ]:
Q9

In [12]:
a = np.array([[1, np.nan, 3], [4, 5, np.nan]])
a[np.isnan(a)] = 0
a

array([[1., 0., 3.],
       [4., 5., 0.]])

In [13]:
a = np.array([[1, np.nan, 3], [4, 5, np.nan]])
a = np.nan_to_num(a)
a

array([[1., 0., 3.],
       [4., 5., 0.]])

In [ ]:
Q10

In [18]:
a = np.array([ 0, -2,  2, -2,  4, -2,  6, -2,  8, 8, 6, 3, 9])
np.unique(a)

array([-2,  0,  2,  3,  4,  6,  8,  9])

In [ ]:
Q11

In [33]:
a = np.array(['a','b','c','d','e','a','b','c'])
a_enc = pd.factorize(a)
a_enc

(array([0, 1, 2, 3, 4, 0, 1, 2], dtype=int64),
 array(['a', 'b', 'c', 'd', 'e'], dtype=object))

In [13]:
import numpy as np
import statsmodels.api as sm
a = np.array(['a','b','c','d','e','a','b','c'])
b = sm.tools.categorical(a, drop=True)
b.argmax(1)

array([0, 1, 2, 3, 4, 0, 1, 2], dtype=int64)

In [37]:
import numpy as np
featureMap={}
    
def mapping(data):   
    count=0
    for i in np.unique(a):
        featureMap[i]=count
        count=count+1
    return list(map(featureMap.get, data))

bbbb = ['a','b','c','d','e','a','b','c']
print (mapping(bbbb))

ccc = [featureMap[key] for key in bbbb]
print(ccc)

[0, 1, 2, 3, 4, 0, 1, 2]
[0, 1, 2, 3, 4, 0, 1, 2]

In [10]:
import pandas as pd
a = np.array(['a','b','c','d','e','a','b','c'])
a_enc = pd.get_dummies(a)
a_enc.values.argmax(1)

array([0, 1, 2, 3, 4, 0, 1, 2], dtype=int64)

In [ ]:
Q12

In [41]:
aa = np.array(range(99,299))
a1 = [i for i in aa if(i%5==0)]
a2 = [i for i in aa if(i%7==0)]

print(np.setxor1d(a1,a2))
print(np.intersect1d(a1,a2))

[100 110 112 115 119 120 125 126 130 133 135 145 147 150 154 155 160 161
 165 168 170 180 182 185 189 190 195 196 200 203 205 215 217 220 224 225
 230 231 235 238 240 250 252 255 259 260 265 266 270 273 275 285 287 290
 294 295]
[105 140 175 210 245 280]

In [ ]:
Q13

In [64]:
a = np.array(['a','b','c','d','e',1,2,3,6])
b = [i-1 for i in range(len(a),0,-1)]
a[b]

array(['6', '3', '2', '1', 'e', 'd', 'c', 'b', 'a'], dtype='<U1')